### Shortcuts

* Esc+m -> To convert cell into markdown cell
* Esc+y -> To convert cell into coding cell
* Esc+a -> To create a cell above
* Esc+b -> To create a cell below
* Esc+h -> shortcuts
* Shift+Enter -> To run the cell

# Largest heading h1
## second largest heading h2
### h3
#### h4
##### h5
###### h6

### styling the text

* *This is italic*
* **This is bold text**
* ***This is both bold and italic***

### Inserting links

* [Google.com](https://www.google.com)
* [Gmail.com](https://www.gmail.com)

### Data Structures

* List
* Tuple
* Dictionary
* Set

### Lists

* List is a collection of items
* List is created by using square brackets[]
* list items are seperated by using commas ,
* List is mutable i.e changeable

In [2]:
# creating a list

lis=[10,20,30,40,50]  # same data type
print(lis)
print(type(lis))

[10, 20, 30, 40, 50]
<class 'list'>

In [5]:
print(len(lis))  # length of a list
print(max(lis)) # max value of a list
print(min(lis)) # min value of a list
print(sorted(lis))   # ascending order
print(sorted(lis,reverse=True))  # Descending order

5
50
10
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [6]:
# creating list with different data types

li=[10,90,89.8,'python']
print(li)
print(type(li))

[10, 90, 89.8, 'python']
<class 'list'>

In [ ]:
### accessing elements of a list by using index
# [10, 20, 30,40,50]
   0   1   2  3  4   # forward index or positive index
  -5  -4  -3 -2 -1  # backward index or negative index

In [13]:
lis= [10,20,30,40,50]
print(lis[0])  # first value of a list
print(lis[2])
print(lis[-1])  # last value of a list
print(lis[-2])

10
30
50
40

In [14]:
# slicing [start:end:step]

li=[10,20,30,40,50,60,70,80] 
# o/p:  20,30,40,50
print(li[1:5:])

[20, 30, 40, 50]

In [15]:
# alternate values 10,30,50,70
li[0::2]

[10, 30, 50, 70]

In [16]:
# 20,40,60,80
print(li[1::2])

[20, 40, 60, 80]

In [17]:
# reverse of a list
li[::-1]

[80, 70, 60, 50, 40, 30, 20, 10]

In [19]:
# list is mutable

li=['python',90,'java']
print(li)
li[1]='c programming'
print(li)

['python', 90, 'java']
['python', 'c programming', 'java']

In [20]:
print(dir(li),end=" ")

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [21]:
li=[1,2,3,4,5]
print(li)
li.append(6) # to add a single item at the end of a list
print(li)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [22]:
li.extend([10,20,30])
li

[1, 2, 3, 4, 5, 6, 10, 20, 30]

In [23]:
li

[1, 2, 3, 4, 5, 6, 10, 20, 30]

In [24]:
li

[1, 2, 3, 4, 5, 6, 10, 20, 30]

In [25]:
li.index(10)

6

In [26]:
li.insert(7,15)  # index,value
li

[1, 2, 3, 4, 5, 6, 10, 15, 20, 30]

In [27]:
li.append(15)
li

[1, 2, 3, 4, 5, 6, 10, 15, 20, 30, 15]

In [28]:
li.count(15)

2

In [29]:
li.pop()

15

In [30]:
li

[1, 2, 3, 4, 5, 6, 10, 15, 20, 30]

In [31]:
li.remove(30)  # value
print(li)

[1, 2, 3, 4, 5, 6, 10, 15, 20]

In [32]:
li=[78,89,65,45]
li2=li.copy()
print(li)
print(li2)

[78, 89, 65, 45]
[78, 89, 65, 45]

In [34]:
li.sort()
li

[45, 65, 78, 89]

In [35]:
li.sort(reverse=True)
li

[89, 78, 65, 45]

In [36]:
li.clear()

In [37]:
li

[]

In [38]:
del li

In [39]:
li

NameError: name 'li' is not defined

In [41]:
# using for loop
l=[23,45,67,98]
for i in l:
    print(i,end=" ")

23 45 67 98

In [48]:
# print even numbers list from the given list
l=[23,45,68,44,19,28]
# o/p: [68,44,28]
el=[]
for i in l:
    if i%2==0:
        el.append(i)
print(el)

[68, 44, 28]

##### List comprehension
* to reduce the lines of code
* syntax: [o/p-variable  loop condition]

In [43]:
# print 1 to 10 numbers using comprehension
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
# print even numbers in the range of 1 to 100
[i for i in range(1,101) if i%2==0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [45]:
# print odd numbers in the range of 1 to 100
[i for i in range(1,101) if i%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [46]:
# print squares of 1 to 10 numbers
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Tuple
* Tuple is a collection of elements,created by using
parenthesis ()
* Tuple is immutable i.e not changeable

In [56]:
# creating a tuple
t=(10,20,30,40,50) # same data type
print(t,type(t))
print(len(t))
print(max(t))
print(min(t))
print(sorted(t))
print(sorted(t,reverse=True))

(10, 20, 30, 40, 50) <class 'tuple'>
5
50
10
[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [57]:
t1=(10,27.7,'hello')
print(t1,type(t1))

(10, 27.7, 'hello') <class 'tuple'>

In [59]:
# accessing 
print(t1[0])
print(t1[2])

10
hello

In [60]:
# slicing 
print(t[0::2])

(10, 30, 50)

In [66]:
# tuple is immutable

t=(90,87,'python')
t[2]=100  # not possible to edit after once creating tuple

TypeError: 'tuple' object does not support item assignment

In [62]:
print(dir(t),end=" ")

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [68]:
t=(12,45,78,12,77)
t.count(12)

2

In [69]:
t.index(77)

4

### Dictionary

* Dictionary is a set of key and value pair or collection of items
* both key and value pair together called as item
* in Dictionary keys acts as index to access values
* created by using {}

In [73]:
# creating a dictionary

d={1:10,2:20,3:30,4:40,5:50}  # key:value
print(d,type(d))
print(d.keys())
print(d.values())
print(d.items())

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50} <class 'dict'>
dict_keys([1, 2, 3, 4, 5])
dict_values([10, 20, 30, 40, 50])
dict_items([(1, 10), (2, 20), (3, 30), (4, 40), (5, 50)])

In [74]:
for k,v in d.items():
    print(k,":",v)

1 : 10
2 : 20
3 : 30
4 : 40
5 : 50

In [76]:
print(dir(d),end=" ")

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [77]:
# accessing dictionary values by using keys

d

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [79]:
print(d[1])
print(d[3])

10
30

In [80]:
print(len(d)) # length

5

In [83]:
# updating dictionary values

d[2]='python'  # dict[key]=value
d

{1: 10, 2: 'python', 3: 30, 4: 40, 5: 50}

In [84]:
d.get(4) # key

40

In [85]:
d.update({6:"java"})
d

{1: 10, 2: 'python', 3: 30, 4: 40, 5: 50, 6: 'java'}

In [86]:
d.clear()

In [87]:
d

{}

In [88]:
del d

In [89]:
d

NameError: name 'd' is not defined